header{
	width: 100%;
	height: 200px;
	border: solid 1px black;
	background-color: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

header h1{
	text-align: right;
	font-family: helvetica;
	font-size: 60px;
	padding-top: 10px;
	padding-right: 120px;
}

#menu{
	padding-right: 20px;
	font-family: helvetica;
	color: #969595;
}

#menu #phase{
	color:black;
	font-size: 40px;
}


.preview_container {
	border: solid 1px black;
	padding:10px;

}

.preview_container img{
	width: 70%;
	padding:10px;

}

.preview_container p {
	padding-left: 20px;
	font-family: helvetica;
}

.preview_container h3 {
	padding-left: 20px;
	font-family: helvetica;
	font-size: 30px;
	color: #969595;
}

.section {
    /* Clear is affecting the floats in the .group class? */
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%; 
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


#list1 {
    
}


#phase {
	border-bottom: solid 1px black;
}	


.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%;
	float:right; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}

float:left;
}