#content_area{
	margin:0px auto;
    width: 1000px; 
}

img.screenshot {
	width: 1000px;
}

h1 {
	text-align: center;
	border-bottom: solid 2px black;
}

p {
	width: 600px;
	font-family: helvetica;
	font-size: 18px;
}